
.daynight {
  width: 100px;
  height:  60px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
}
.daynight:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: 
    radial-gradient(farthest-side,#ffd738 80%,#0000) left 70% top    20%/20px 20px,
    radial-gradient(farthest-side,#020308 92%,#0000) left 65% bottom 19%/15px 15px,
    radial-gradient(farthest-side,#ecfefe 92%,#0000) left 70% bottom 20%/20px 20px,
    linear-gradient(#9eddfe 50%,#020308 0);
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
@keyframes l5 {
  0%,20%   {transform: rotate(0)}
  40%,60%  {transform: rotate(.5turn)}
  80%,100% {transform: rotate(1turn)}
}

.moon {
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  filter: drop-shadow(0px 0px 1px #8d847f);
  animation: l3 1s infinite alternate linear;
}
.moon:before {
  content: "";
  flex: 1;
  background: #8d847f;
  border-radius: 50%;
  -webkit-mask: radial-gradient(circle closest-side at 66% 40%,#0000 115%,#000 118%);
}
@keyframes l3 {
  100% {filter:drop-shadow(0px 0px 20px #8d847f)}
}

.sun {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: radial-gradient(circle 15px, #ffd738 90%,#0000 );
  filter: drop-shadow(0px 0px 1px #ffd738);
  animation: l2 1s infinite alternate linear;
}
.sun::before, 
.sun::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  --g:no-repeat linear-gradient(#ffd738 0 0) 50%;
  background: 
    var(--g)/100% 5px,
    var(--g)/5px 100%;
  -webkit-mask: radial-gradient(farthest-side,#0000 60%,#000 61%);
}
.sun::after {
    transform: rotate(45deg);
}
@keyframes l2 {
  100% {filter:drop-shadow(0px 0px 20px #ffd738)}
}

.time {
  --c1:#673b14;
  --c2:#f8b13b;
  width: 40px;
  height: 80px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.time::before,
.time::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.time::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}

.sausage {
  height: 35px;
  width: 80px;
  margin-left: 0px;
  background:
    radial-gradient(farthest-side,#ffd1d1 94%,#0000 ) 4px 22px/5px 5px,
    radial-gradient(farthest-side,#ffd1d1 94%,#0000 ) 12px 18px/5px 5px,    
    radial-gradient(farthest-side,#ffd1d1 94%,#0000 ) 3px 6px/8px 8px,    
    radial-gradient(farthest-side,#eb8594 90%,#0000 94%) left/20px 100%,    
    #bd3342;
  background-repeat: no-repeat;
  border-radius: 0 50px 50px 0;
  border-top-left-radius: 30px 40px;
  border-bottom-left-radius: 30px 40px;
  animation: l7 3s infinite steps(10);
  position: relative;
}
.sausage::before {
  content: " ";
  position: absolute;
  inset: calc(50% - 8px) -10px calc(50% - 8px) auto;
  width: 15px;
  background: #bd3342;
  clip-path: polygon(0 50%,100% 0,70% 50%,100% 100%);
}
@keyframes l7 {
  100% {width: 20px;margin-left:60px;}
}

.watermelon {
  width: 80px;
  height: 40px;
  border-radius: 0 0 100px 100px;
  border: 5px solid #538a2d;
  border-top: 0;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side at top,#0000 calc(100% - 5px),#e7ef9d calc(100% - 4px)), 
    radial-gradient(2px 3px,#5c4037 89%,#0000) 0 0/17px 12px,
    #ff1643;
  --c:radial-gradient(farthest-side,#000 94%,#0000);
  -webkit-mask:
    linear-gradient(#0000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px  6px, 
    var(--c) 21px  6px,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0),
    var(--c) 12px -8px,
    var(--c) 29px -8px,
    var(--c) 45px -6px,
    var(--c) 22px -2px,
    var(--c) 34px  6px, 
    var(--c) 21px  6px,
    linear-gradient(#0000 0 0);
  -webkit-mask-composite:destination-out;
  mask-composite:exclude,add,add,add,add,add,add;
  -webkit-mask-repeat: no-repeat;
  animation: l8 3s infinite;
}
@keyframes l8 {
 0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0}
 15%  {-webkit-mask-size: auto,20px 20px,0 0,0 0,0 0,0 0,0 0}
 30%  {-webkit-mask-size: auto,20px 20px,20px 20px,0 0,0 0,0 0,0 0}
 45%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,0 0,0 0,0 0}
 60%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,0 0,0 0}
 75%  {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,0 0}
 90%,
 100% {-webkit-mask-size: auto,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px,20px 20px}
}

.milkshake {
  width: 35px;
  height: 80px;
  position: relative;
}
.milkshake:after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px 5px;
  border-top: 1px solid blue;
  border-bottom: 4px solid blue;
  background: 
    linear-gradient(blue 0 0) bottom no-repeat content-box, 
    #e4e0d7;
  mix-blend-mode: darken;
  animation: l1 1.5s infinite linear;
}
.milkshake:before {
  content: "";
  position: absolute;
  inset: -18px calc(50% - 2px) 8px;
  background: #eb6b3e;   
  transform-origin: bottom;
  transform: rotate(8deg);
}
@keyframes l1 {
 0%   {background-size: 100% 100%}
 100% {background-size: 100% 5%}
}

.neutralEyes {
  display: inline-flex;
  gap: 10px;
}
.neutralEyes:before,
.neutralEyes:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#222 0 0) top/100% 40% no-repeat,
    radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
    #fff;
  animation: 2.5s infinite ;
  animation-name: l8-1, e8-2;
}
@keyframes l8-1 {
  0%,
  40%,
  100%{background-size:100% 40%,8px 8px}
  50%,
  80% {background-size:100% 0% ,8px 8px}
}
@keyframes l8-2 {
  0%,
  50% {background-position:top,50% 50%}
  60%,
  65%{background-position:top,70% 50%}
  70%,
  75%{background-position:top,30% 50%}
  90%,
  100%{background-position:top,50% 50%}
}

.angryEyes {
  display: inline-flex;
  gap: 10px;
}
.angryEyes:before,
.angryEyes:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
    #fff;
  aspect-ratio: 1;
  animation: l10 1.5s infinite alternate;
}
.angryEyes:after {
  --s:-1;
}
@keyframes l10 {
  0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
  60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
}

.crazyEyes {
  display: inline-flex;
  gap: 10px;
}
.crazyEyes:before,
.crazyEyes:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
    #fff;
  transform: scaleX(var(--s,1)) rotate(0deg);
  animation: l6 1s infinite linear;
}
.crazyEyes:after {
  --s: -1;
  animation-delay:-0.1s;
}
@keyframes l6 {
  100% {transform:scaleX(var(--s,1)) rotate(360deg);}
}

.arcade {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 98%,#0000) 55% 20%/8px 8px no-repeat,  
    #ffcc00;
  box-shadow: 2px -6px 12px 0px inset rgba(0, 0, 0, 0.7);
  animation: l4 .5s infinite steps(5) alternate;
}
@keyframes l4{ 
    0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
  100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
}